<html>
<head>
	<body>

		<form class="grid" action = "/result" method="POST">
			<center>
				{% if name %}
				<h3 style = "color: blue;">Hello {{name}}, how are you?</h3>
				{% endif %}
			</center>
			<label for ="Name"> Enter Your Name: </label>
			<input type="text" name="name" id="name">
			<center><input type="Submit" class = "file_submit"></center>
		</form>
<!--		<ul id="myUL">-->
<!--		  <li><a href="#">Adele</a></li>-->
<!--		  <li><a href="#">Agnes</a></li>-->

<!--		  <li><a href="#">Billy</a></li>-->
<!--		  <li><a href="#">Bob</a></li>-->

<!--		  <li><a href="#">Calvin</a></li>-->
<!--		  <li><a href="#">Christina</a></li>-->
<!--		  <li><a href="#">Cindy</a></li>-->
<!--		</ul>-->
	</body>
</head>
</html>

